#------- Normally you only have to edit the stuff here ---
#------- Others stuff should not have to be modified -----

# compile options
# change these to modify compile-time behavior
compile.debug=on
compile.optimize=on
compile.deprecation=off

# additional classpaths to include when running unit tests
# these can include a custom or separate classpath or directory
# where you put log4j configuration or perhaps other configuration
# files used during testing.
test.classpath.extra=

# test settings
# These allow you to specify the specific test to run.
# Sometimes you only want to test a certain part of the API
# and not run through all tests.  You can specify which
# tests to run.
test.fileset=**/*Test.class

#===============YOU CAN STOP HERE==========================

#dist jar names
dist.zip.name=muse-${version}.zip
dist.tar.name=muse-${version}.tar
dist.tgz.name=muse-${version}.tar.gz

#module source settings
lib.compile.dir=${project.home}/build
src.java.dir=${project.home}/src
src.lib.dir=${project.home}/lib
src.test.dir=${project.home}/test
src.examples.dir=${project.home}/examples
src.docs.dir=${project.home}/docs
src.license.dir=${project.home}/license
src.bindings.dir=${project.home}/bindings

# build settings
work.dir=${project.home}/work
build.dir=${work.dir}

# dist settings
dist.dir=${work.dir}/muse-${version}
build.docs.dir=${work.dir}/docs
javadoc.dest=${build.docs.dir}/api
